
certifi==2024.7.4
chardet==3.0.4
Click==7.0
fancycompleter==0.8
Flask==2.2.5
Flask-RESTful==0.3.6
idna==3.7
ItsDangerous==1.0.0
Jinja2==3.1.4
MarkupSafe==1.0
pdbpp==0.9.2
Pygments==2.15.0
pytz==2018.6
requests==2.32.2
six==1.11.0
urllib3==1.26.19
Werkzeug==3.0.3
wmctrl==0.3
